{% extends "apps/user/base1.html"%}
{% block content %}
<div style="margin-top: 60px; color:rgb(62,62,99);padding:20px;">
    <center>
        <h3 >Contact Us</h3>
        {% if message %}
            <h4 style="color: rgb(51, 108, 51);">{{message}}</h4>
        {% endif %}
    <form action="{% url 'contactus' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td><label class="form-label" for="fname">Firstname : </label></td>
                <td><input type="text" name="fname" class="form-control" id=""></td>
            </tr>
            <tr>
                <td><label class="form-label" for="lname">Lastname : </label></td>
                <td><input type="text" name="lname" class="form-control" id=""></td>
            </tr>
            <tr>
                <td><label class="form-label" for="email">Email : </label></td>
                <td><input class="form-control" type="email" name="email" id=""></td>
            </tr>
            <tr>
                <td><label for="msg">Message : </label></td>
                <td><textarea name="msg" class="form-control" id="" cols="50" rows="5"></textarea></td>
            </tr>
        </table> <br>
        <input type="submit" value="Submit" class="btn" style="color:white; background-color:rgb(62,62,99)">
    </form>

    </center>
</div>
{% endblock %}